Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: local
    hooks:
      - id: scan-links
        name: Scan Markdown links
        entry: python .bin/scan_links.py --output .tmp/scan_links.json
        language: system
        files: \.(md)$
        pass_filenames: false

      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2 --config .markdownlint.json
        language: system
        files: \.(md)$

      - id: validate-xml
        name: Validate XML well-formedness
        entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
        language: system
        files: \.(xml)$

      - id: cspell
        name: cspell
        entry: cspell lint --config .cspell.json
        language: system
        files: \.(md|txt|xml|py)$
        stages: [manual]

feat(icons): finalize slot generation pipeline and variant atlases
  .bin/generate_thorne_slot_variants.py
  thorne_drak/bow_slot_source.tga
  thorne_drak/thorne_button01.tga
  thorne_drak/thorne_buttons01.tga
  thorne_drak/thorne_icons_slots01.tga
  thorne_drak/thorne_icons_slots02.tga
  thorne_drak/thorne_icons_slots03.tga
  thorne_drak/window_pieces01.tga
  thorne_drak/window_pieces02.tga
Due: none

feat(buttons): add transparent button variants to thorne_buttons01.tga
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_buttons01.tga
Due: none

feat(buttons): add transparency variants (75%, 50%, 25%) to button atlas
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_buttons01.tga
Due: none

fix(buttons): preserve colors in transparent variants with opaque borders
  .bin/generate_thorne_buttons_transparent.py
  thorne_drak/thorne_buttons01.tga
Due: none

feat(buttons): update transparency levels to 90%, 80%, 75%
  .bin/generate_thorne_buttons_transparent.py
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_buttons01.tga
  thorne_drak/thorne_icons_slots01.tga
  thorne_drak/thorne_icons_slots02.tga
  thorne_drak/thorne_icons_slots03.tga
Due: none

feat(buttons): dynamic transparency generator with 5 levels (95, 90, 85, 75, 50%)
  .bin/generate_thorne_buttons_transparent.py
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_buttons01.tga
  thorne_drak/thorne_icons_slots01.tga
  thorne_drak/thorne_icons_slots02.tga
  thorne_drak/thorne_icons_slots03.tga
Due: none

fix(buttons): calculate proper row spacing for 255x255 canvas
  .bin/generate_thorne_buttons_transparent.py
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_buttons01.tga
Due: none

refactor(buttons): standardize spacing to 2px for consistency
  .bin/generate_thorne_buttons_transparent.py
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_buttons01.tga
Due: none

chore: clean up old source assets and TGA format corrections
  .docs/images/Thorne_Drak.jpg
  .docs/images/Thorne_Drak.png
  .docs/images/Thorne_Drak.tga
  thorne_drak/window_pieces01.tga
Due: none

feat(icons): add master icons01 generator from thorne_icon source
  .bin/generate_thorne_icons_master.py
  thorne_drak/thorne_icons01.tga
Due: none

chore(icons-buttons): checkpoint current master/atlas updates
  .bin/generate_thorne_icons_master.py
  .docs/images/archive/thorne_button01.tga
  thorne_drak/thorne_buttons01.tga
  thorne_drak/thorne_icons01.tga
  thorne_drak/window_pieces03.tga
Due: none

fix(cast): correct button texture filename reference
  thorne_drak/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Enhanced/EQUI_CastSpellWnd.xml
Due: validate-xml

fix(cast): finalize filename reference correction in Thorne cast variant
  thorne_drak/Options/Cast/Thorne/EQUI_CastSpellWnd.xml
Due: validate-xml

chore(options): commit all outstanding Cast/Animations updates
  .development/ui-analysis/CASTSPELL-analysis.md
  .development/ui-analysis/COMPLETE-COVERAGE.md
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Cast/.sync-status.json
  thorne_drak/Options/Cast/Enhanced/README.md
  thorne_drak/Options/Cast/README.md
  thorne_drak/Options/Cast/Standard/README.md
  thorne_drak/Options/Cast/Thorne/README.md
Due: scan-links, markdownlint, validate-xml

Fixing the icons
  thorne_drak/thorne_icons01.tga
  thorne_drak/window_pieces01.tga
  thorne_drak/window_pieces03.tga
Due: none

Moving the thorne_icons and files to the Options directory to work on them to get them ready for use. For now we won't be using them.
  thorne_drak/EQUI_Animations.xml
  thorne_drak/Options/Slots/Thorne/thorne_buttons01.tga
  thorne_drak/Options/Slots/Thorne/thorne_icon.tga
  thorne_drak/Options/Slots/Thorne/thorne_icons01.tga
  thorne_drak/Options/Slots/Thorne/thorne_icons_slots01.tga
  thorne_drak/Options/Slots/Thorne/thorne_icons_slots02.tga
  thorne_drak/Options/Slots/Thorne/thorne_icons_slots03.tga
Due: validate-xml

Working on the thorne icons and images
  thorne_drak/Options/Slots/.Master/thorne_buttons01.tga
  thorne_drak/Options/Slots/.Master/thorne_icon.tga
  thorne_drak/Options/Slots/.Master/thorne_icons01.tga
  thorne_drak/Options/Slots/Gold/thorne_icons_slots01.tga
  thorne_drak/Options/Slots/Gold/window_pieces01.tga
  thorne_drak/Options/Slots/Metal/thorne_icons_slots01.tga
  thorne_drak/Options/Slots/Metal/window_pieces01.tga
  thorne_drak/Options/Slots/Silver/thorne_icons_slots01.tga
  thorne_drak/Options/Slots/Silver/window_pieces01.tga
  thorne_drak/Options/Slots/Texture/window_pieces01.tga
  thorne_drak/Options/Slots/Thorne/thorne_buttons01.tga
  thorne_drak/Options/Slots/Thorne/thorne_icons_slots01.tga
  thorne_drak/Options/Slots/Thorne/thorne_icons_slots03.tga
  thorne_drak/Options/Slots/Transparent/window_pieces01.tga
Due: none

feat(slots): master-driven item atlas generation system with variants
  .bin/generate_thorne_item_master.py
  thorne_drak/Options/Slots/.Master/dragitem1.tga
  thorne_drak/Options/Slots/.Master/dragitem10.tga
  thorne_drak/Options/Slots/.Master/dragitem2.tga
  thorne_drak/Options/Slots/.Master/dragitem3.tga
  thorne_drak/Options/Slots/.Master/dragitem4.tga
  thorne_drak/Options/Slots/.Master/dragitem5.tga
  thorne_drak/Options/Slots/.Master/dragitem6.tga
  thorne_drak/Options/Slots/.Master/dragitem7.tga
  thorne_drak/Options/Slots/.Master/dragitem8.tga
  thorne_drak/Options/Slots/.Master/dragitem9.tga
  thorne_drak/Options/Slots/.Master/thorne_icons01.tga
  thorne_drak/Options/Slots/.Master/thorne_item01.json
  thorne_drak/Options/Slots/.Master/thorne_item01.tga
  thorne_drak/Options/Slots/.Master/thorne_logos01.tga
Due: none

chore(slots): cleanup legacy files and add development documentation
  .development/thorne_slots/README.md
  .development/thorne_slots/proof_of_concept.md
  .docs/images/archive/thorne_icons01.tga
  .docs/images/archive/thorne_logo.tga
  thorne_drak/Options/Slots/.Master/thorne_icon.tga
  thorne_drak/Options/Slots/.Master/thorne_inventory01.tga
  thorne_drak/Options/Slots/Gold/window_pieces01.tga
  thorne_drak/Options/Slots/Metal/thorne_icons_slots01.tga
  thorne_drak/Options/Slots/Metal/window_pieces01.tga
  thorne_drak/Options/Slots/Silver/window_pieces01.tga
  thorne_drak/window_pieces01.tga
Due: scan-links, markdownlint

feat(slots): add configurable Gold slot regen pipeline
  .bin/regen_slots.py
  thorne_drak/Options/Slots/Gold/config_slots.json
  thorne_drak/Options/Slots/Gold/thorne_buttons01.tga
  thorne_drak/Options/Slots/Gold/thorne_item01.tga
  thorne_drak/Options/Slots/Gold/thorne_slots01.tga
Due: none

chore(slots): checkpoint regen script, master config, and ignore updates
  .bin/regen_slots.py
  .gitignore
  thorne_drak/Options/Slots/.Master/thorne_item01.json
Due: none

feat(buttons): organize and consolidate button texture variants
  thorne_drak/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Buttons/Ghost/buttons_dark_thorne01.tga
  thorne_drak/Options/Buttons/Ghost/buttons_eclipse_thorne01.tga
  thorne_drak/Options/Buttons/Ghost/buttons_light_thorne01.tga
  thorne_drak/Options/Buttons/Phantom/buttons_dark_thorne01.tga
  thorne_drak/Options/Buttons/Phantom/buttons_eclipse_thorne01.tga
  thorne_drak/Options/Buttons/Phantom/buttons_light_thorne01.tga
  thorne_drak/Options/Buttons/Thorne/buttons_dark_thorne01.tga
  thorne_drak/Options/Buttons/Thorne/buttons_eclipse_thorne01.tga
  thorne_drak/Options/Buttons/Thorne/buttons_light_thorne01.tga
  thorne_drak/Options/Cast/Enhanced/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Enhanced/README.md
  thorne_drak/Options/Cast/Standard/README.md
  thorne_drak/Options/Cast/Thorne/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Thorne/README.md
  thorne_drak/buttons_dark_thorne01.tga
  thorne_drak/buttons_eclipse_thorne01.tga
  thorne_drak/buttons_light_thorne01.tga
Due: scan-links, markdownlint, validate-xml

refactor(naming): standardize custom file naming convention with _thorne01 suffix
  .bin/regen_gems.py
  .bin/regen_icons.md
  .bin/regen_icons.py
  .development/stat-icons/README.md
  .development/stat-icons/REDESIGN-REVIEW.md
  .development/thorne_slots/proof_of_concept.md
  thorne_drak/EQUI_Animations.xml
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Icons/Classic/stat_icons_thorne01-stats.json
  thorne_drak/Options/Icons/Classic/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Duxa/stat_icons_thorne01-stats.json
  thorne_drak/Options/Icons/Duxa/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Infiniti/stat_icons_thorne01-stats.json
  thorne_drak/Options/Icons/Infiniti/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Steamworks/stat_icons_thorne01-stats.json
  thorne_drak/Options/Icons/Steamworks/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/stat_icons_thorne01-stats.json
  thorne_drak/Options/Icons/Thorne/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/staticons01.tga
  thorne_drak/Options/Icons/WoW/stat_icons_thorne01-stats.json
  thorne_drak/Options/Icons/WoW/stat_icons_thorne01.tga
  thorne_drak/stat_icons_thorne01.tga
Due: scan-links, markdownlint, validate-xml

refactor(build): standardize stats file naming to match script names
  .bin/regen_gems.py
  .bin/regen_icons.py
  .docs/releases/v0.6.5/v0.6.5-CHANGES.md
  thorne_drak/Options/Icons/Classic/.regen_gems-stats.json
  thorne_drak/Options/Icons/Classic/.regen_icons-stats.json
  thorne_drak/Options/Icons/Duxa/.regen_gems-stats.json
  thorne_drak/Options/Icons/Duxa/.regen_icons-stats.json
  thorne_drak/Options/Icons/Infiniti/.regen_gems-stats.json
  thorne_drak/Options/Icons/Infiniti/.regen_icons-stats.json
  thorne_drak/Options/Icons/Steamworks/.regen_gems-stats.json
  thorne_drak/Options/Icons/Steamworks/.regen_icons-stats.json
  thorne_drak/Options/Icons/Thorne/.regen_gems-stats.json
  thorne_drak/Options/Icons/Thorne/.regen_icons-stats.json
  thorne_drak/Options/Icons/WoW/.regen_gems-stats.json
  thorne_drak/Options/Icons/WoW/.regen_icons-stats.json
Due: scan-links, markdownlint

refactor(naming): standardize spell icon files with _thorne suffix
  .bin/regen_gems.py
  .bin/regen_icons.json
  .bin/regen_icons.py
  .development/thorne_slots/proof_of_concept.md
  thorne_drak/Options/Icons/Classic/.regen_icons-stats.json
  thorne_drak/Options/Icons/Classic/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Classic/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/Classic/spell_icons_thorne03.tga
  thorne_drak/Options/Icons/Duxa/.regen_icons-stats.json
  thorne_drak/Options/Icons/Duxa/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Duxa/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/Duxa/spell_icons_thorne03.tga
  thorne_drak/Options/Icons/Infiniti/.regen_icons-stats.json
  thorne_drak/Options/Icons/Infiniti/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Infiniti/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/Infiniti/spell_icons_thorne03.tga
  thorne_drak/Options/Icons/Steamworks/.regen_icons-stats.json
  thorne_drak/Options/Icons/Steamworks/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Steamworks/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/Steamworks/spellicons03.tga
  thorne_drak/Options/Icons/Thorne/.regen_icons-stats.json
  thorne_drak/Options/Icons/Thorne/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/Thorne/spell_icons_thorne03.tga
  thorne_drak/Options/Icons/WoW/.regen_icons-stats.json
  thorne_drak/Options/Icons/WoW/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/WoW/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/WoW/spell_icons_thorne03.tga
  thorne_drak/spell_icons_thorne01.tga
  thorne_drak/spell_icons_thorne02.tga
  thorne_drak/spell_icons_thorne03.tga
  thorne_drak/stat_icons_thorne01.tga
Due: scan-links, markdownlint

refactor(icons): update stat icon selections and fix spell master sources
  .bin/regen_icons.json
  .bin/regen_icons.py
  fix_tga_files.bat
  regen_gems.bat
  regen_icons.bat
  thorne-ui.code-workspace
  thorne_drak/Options/Icons/Classic/.regen_icons-stats.json
  thorne_drak/Options/Icons/Classic/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Duxa/.regen_icons-stats.json
  thorne_drak/Options/Icons/Duxa/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Infiniti/.regen_gems-stats.json
  thorne_drak/Options/Icons/Infiniti/.regen_icons-stats.json
  thorne_drak/Options/Icons/Infiniti/gemicons03.tga
  thorne_drak/Options/Icons/Infiniti/spells05.tga
  thorne_drak/Options/Icons/Infiniti/spells07.tga
  thorne_drak/Options/Icons/Infiniti/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Steamworks/.regen_gems-stats.json
  thorne_drak/Options/Icons/Steamworks/.regen_icons-stats.json
  thorne_drak/Options/Icons/Steamworks/gemicons01.tga
  thorne_drak/Options/Icons/Steamworks/gemicons02.tga
  thorne_drak/Options/Icons/Steamworks/gemicons03.tga
  thorne_drak/Options/Icons/Steamworks/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Steamworks/spell_icons_thorne02.tga
  thorne_drak/Options/Icons/Steamworks/spell_icons_thorne03.tga
  thorne_drak/Options/Icons/Steamworks/spells02.tga
  thorne_drak/Options/Icons/Steamworks/spells05.tga
  thorne_drak/Options/Icons/Steamworks/spells06.tga
  thorne_drak/Options/Icons/Steamworks/spells07.tga
  thorne_drak/Options/Icons/Steamworks/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/.regen_icons-stats.json
  thorne_drak/Options/Icons/Thorne/gemicons01.tga
  thorne_drak/Options/Icons/Thorne/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/spells02.tga
  thorne_drak/Options/Icons/Thorne/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/WoW/.regen_icons-stats.json
  thorne_drak/Options/Icons/WoW/stat_icons_thorne01.tga
  thorne_drak/gemicons01.tga
  thorne_drak/spell_icons_thorne01.tga
  thorne_drak/spells02.tga
  thorne_drak/stat_icons_thorne01.tga
Due: none

fix(icons): update Thorne spell icon sources
  thorne_drak/Options/Icons/Thorne/gemicons01.tga
  thorne_drak/Options/Icons/Thorne/spell_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/spells02.tga
  thorne_drak/Options/Icons/Thorne/stat_icons_thorne01.tga
  thorne_drak/gemicons01.tga
  thorne_drak/spell_icons_thorne01.tga
  thorne_drak/stat_icons_thorne01.tga
Due: none

feat(slots): gradients, stats, and variants
  .bin/generate_thorne_buttons_transparent.py
  .bin/generate_thorne_icons_collage.py
  .bin/generate_thorne_icons_master.py
  .bin/generate_thorne_item_master.py
  .bin/generate_thorne_slot_variants.py
  .bin/regen_gems.md
  .bin/regen_slots.json
  .bin/regen_slots.md
  .bin/regen_slots.py
  .docs/images/archive/thorne_icons_slots01.tga
  .docs/images/archive/thorne_icons_slots02.tga
  .docs/images/archive/thorne_icons_slots03.tga
  thorne_drak/Options/Slots/.Master/thorne_buttons01.tga
  thorne_drak/Options/Slots/.Master/thorne_icons01.tga
  thorne_drak/Options/Slots/.Master/thorne_item01.tga
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/.regen_slots.json
  thorne_drak/Options/Slots/Gold/config_slots.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/.regen_slots.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/.regen_slots.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/.regen_slots.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/window_pieces01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/.regen_slots.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/window_pieces01.tga
  thorne_drak/item_slots_thorne01.tga
Due: scan-links, markdownlint

refactor: add inline documentation to default_tone settings
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
Due: none

feat(build): add ISO8601 timestamps to all regen scripts
  .bin/regen_gauges.py
  .bin/regen_gems.py
  .bin/regen_icons.py
Due: none

fix(slots): update source filenames and documentation for atlas naming
  .bin/regen_slots.json
  .bin/regen_slots.md
  .bin/regen_slots.py
Due: scan-links, markdownlint

feat(build): add regen_thorne script for item atlas generation
  .bin/regen_thorne.py
  regen_thorne.bat
Due: none

refactor(build): archive legacy generate_thorne scripts
  .bin/archive/generate_thorne_icons_collage.py
  .bin/archive/generate_thorne_icons_master.py
  .bin/archive/generate_thorne_item_master.py
  .bin/archive/generate_thorne_slot_variants.py
  .bin/generate_thorne_buttons_transparent.py
Due: none

feat(atlases): add renamed item, button, and logo atlases with stats
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/button_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/logo_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/thorne_icons01.tga
  thorne_drak/Options/Slots/.Master/thorne_inventory01.tga
  thorne_drak/Options/Slots/.Master/thorne_item01.json
  thorne_drak/Options/Slots/.Master/thorne_item01.tga
  thorne_drak/Options/Slots/.Master/thorne_logos01.tga
Due: none

feat(slots): regenerate variants with new atlas sources
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Gold/thorne_buttons01.tga
  thorne_drak/Options/Slots/Gold/thorne_item01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
Due: none

feat(assets): update gauge variants and spell icons, update development docs
  .development/thorne_slots/proof_of_concept.md
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay120_thorne01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay260t_thorne01.tga
  thorne_drak/Options/Icons/Thorne/spells02.tga
  thorne_drak/item_slots_thorne01.tga
Due: scan-links, markdownlint

refactor(build): remove legacy scripts (now archived)
  .bin/generate_thorne_icons_collage.py
  .bin/generate_thorne_icons_master.py
  .bin/generate_thorne_item_master.py
  .bin/generate_thorne_slot_variants.py
Due: none

docs: create centralized DEFAULTS.md for configuration reference
  .bin/DEFAULTS.md
  .bin/regen_icons.json
  .bin/regen_slots.json
Due: scan-links, markdownlint

docs(slots): add inline references to DEFAULTS.md in variant configs
  thorne_drak/Options/Slots/Gold/.regen_slots.json
  thorne_drak/Options/Slots/Metal/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Silver/.regen_slots.json
  thorne_drak/Options/Slots/Texture/.regen_slots.json
  thorne_drak/Options/Slots/Transparent/.regen_slots.json
Due: none
