Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

scan-links:
  name: Scan Markdown links
  entry: python .bin/scan_links.py --output .tmp/scan_links.json
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --config .markdownlint.json
  language: system

validate-xml:
  name: Validate XML well-formedness
  entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
  language: system

docs+ui: record subwindow fade findings and musicplayer test state
  .docs/STANDARDS.md
  DEVELOPMENT.md
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(ui-core): add compact title template and supporting animations
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_Templates.xml
Due: validate-xml

feat(hotbutton): switch to compact draggable title style
  thorne_drak/EQUI_HotButtonWnd.xml
Due: validate-xml

feat(musicplayer): repurpose as compact stats panel layout
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

fix(notewindow): park note UI off-screen pending redesign
  thorne_drak/EQUI_NoteWindow.xml
Due: validate-xml

feat(actions): enlarge combat and abilities button grids
  thorne_drak/EQUI_ActionsWindow.xml
Due: validate-xml

chore(options): sync option variants and add actions redesign notes
  .development/actions_redesign/actions_redesign_ideas.md
  thorne_drak/Options/Actions/.sync-status.json
  thorne_drak/Options/Actions/README.md
  thorne_drak/Options/Actions/Thorne/EQUI_ActionsWindow.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Hotbutton/.sync-status.json
  thorne_drak/Options/Hotbutton/README.md
  thorne_drak/Options/Hotbutton/Thorne/EQUI_HotbuttonWnd.xml
  thorne_drak/Options/Music/Standard/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Note/Standard/EQUI_NoteWindow.xml
Due: scan-links, markdownlint, validate-xml

fix(notewindow): restore standard note and retire note option variants
  .docs/STANDARDS.md
  DEVELOPMENT.md
  thorne_drak/EQUI_NoteWindow.xml
  thorne_drak/Options/Note/Standard/EQUI_NoteWindow.xml
Due: scan-links, markdownlint, validate-xml

fix(musicplayer): add hidden required children and sync music options
  .bin/options_thorne_sync.py
  thorne_drak/Options/Music/.sync-status.json
  thorne_drak/Options/Music/README.md
  thorne_drak/Options/Music/Thorne/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(inventory): flatten button bar and codify relative positioning
  .docs/STANDARDS.md
  thorne_drak/EQUI_Inventory.xml
Due: scan-links, markdownlint, validate-xml

feat(inventory): flatten bag zone wrapper
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

feat(inventory): flatten currency zone wrapper
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

feat(inventory): flatten weight zone wrapper
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

feat(options): add fading window variants
  thorne_drak/Options/Actions/Fading/EQUI_ActionsWindow.xml
  thorne_drak/Options/Inventory/Fading/EQUI_Inventory.xml
Due: validate-xml

feat(inventory): flatten stats zone wrapper
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

feat(inventory): flatten equipment slot zone wrapper
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

feat(inventory): flatten remaining wrapper zones
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

chore(options): add and rename inventory/actions option variants
  thorne_drak/Options/Actions/Bags/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Bags/README.md
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/Bags Row/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
Due: scan-links, markdownlint, validate-xml

feat(inventory): refine bottom layout spacing and bag grid
  .bin/regen_icons.json
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/Options/Hotbutton/Thorne Horizontal/EQUI_HotbuttonWnd.xml
Due: validate-xml

feat(icons): rename Reserve to Bag and simplify helper-label generation
  .bin/regen_icons.json
  .bin/regen_icons.md
  .bin/regen_icons.py
  .development/stat-icons/ABBREVIATIONS.md
  .development/stat-icons/README.md
  .development/stat-icons/REDESIGN-REVIEW.md
  thorne_drak/EQUI_Animations.xml
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
Due: scan-links, markdownlint, validate-xml

chore(icons): commit regenerated stat icons and inventory bag/weight updates
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/Options/Icons/Classic/.regen_icons-stats.json
  thorne_drak/Options/Icons/Classic/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Duxa/.regen_icons-stats.json
  thorne_drak/Options/Icons/Duxa/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Infiniti/.regen_icons-stats.json
  thorne_drak/Options/Icons/Infiniti/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Steamworks/.regen_icons-stats.json
  thorne_drak/Options/Icons/Steamworks/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/Thorne/.regen_icons-stats.json
  thorne_drak/Options/Icons/Thorne/stat_icons_thorne01.tga
  thorne_drak/Options/Icons/WoW/.regen_icons-stats.json
  thorne_drak/Options/Icons/WoW/stat_icons_thorne01.tga
  thorne_drak/stat_icons_thorne01.tga
Due: validate-xml

feat(inventory): finalize XP/AA layout polish and centered auto-equip area
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/Options/Actions/README.md
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Hotbutton/README.md
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
Due: scan-links, markdownlint, validate-xml

feat(ui-colors): refine stat/resist balance and subtly boost AC/ATK labels
  .docs/STANDARDS.md
  thorne_drak/EQUI_ActionsWindow.xml
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/Options/Actions/Bags/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Fading/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Standard/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Thorne/EQUI_ActionsWindow.xml
  thorne_drak/Options/Inventory/Bags Row/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/Fading/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/Standard/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
Due: scan-links, markdownlint, validate-xml

feat(options-inspect): scaffold Inspect option variants and sync mapping
  .bin/options_thorne_sync.py
  thorne_drak/Options/Inspect/.sync-status.json
  thorne_drak/Options/Inspect/README.md
  thorne_drak/Options/Inspect/Standard/EQUI_InspectWnd.xml
  thorne_drak/Options/Inspect/Thorne/EQUI_InspectWnd.xml
Due: scan-links, markdownlint, validate-xml

chore(sync-docs): refresh inventory sync metadata and capture stat-icons research note
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/README.md
Due: scan-links, markdownlint

Fixing up my workspace
  thorne-ui.code-workspace
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/.sync-status.json
  thorne_drak/Options/Music/README.md
  thorne_drak/Options/Music/Thorne/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(sync-option): add argparse CLI and robust spaced-path support
  .bin/sync_option.py
  sync-option.bat
Due: none

feat(music-options): add 1/2/7/14-row variants and preserve static no-title layouts
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/.sync-status.json
  thorne_drak/Options/Music/README.md
  thorne_drak/Options/Music/Thorne 1 Row/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 14 Row/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 2 Row/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 7 Row/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

chore(music-options): adopt branded grid naming for stacked variants
  thorne_drak/Options/Music/README.md
  thorne_drak/Options/Music/Thorne 14x1 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 1x14 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 2x7 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 7x2 Stacked/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(music-options): refine layouts and add bottom-gap sizing
  thorne_drak/Options/Music/Standard/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 14x1 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 1x14 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 2x7 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 7x2 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(music): refine stat windows and sizing docs
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/README.md
  thorne_drak/Options/Music/Thorne 14x1 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 1x14 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 2x7 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne 7x2 Stacked/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Music/Thorne/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(inventory): add dark rounded template for thorne layouts
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/EQUI_Templates.xml
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
Due: validate-xml

refactor(options): rename actions and inventory variants to thorne prefixes
  thorne_drak/Options/Actions/Thorne Bags/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Thorne Bags/README.md
  thorne_drak/Options/Actions/Thorne Fading/EQUI_ActionsWindow.xml
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Inventory/Thorne Bags Row/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/Thorne Fading/EQUI_Inventory.xml
Due: scan-links, markdownlint, validate-xml

feat(sync): add force mode and dynamic window help
  .bin/options_thorne_sync.py
Due: none

feat(ui): apply dark template polish to bank bazaar loot merchant
  thorne_drak/EQUI_BankWnd.xml
  thorne_drak/EQUI_BazaarSearchWnd.xml
  thorne_drak/EQUI_BazaarWnd.xml
  thorne_drak/EQUI_LootWnd.xml
  thorne_drak/EQUI_MerchantWnd.xml
  thorne_drak/EQUI_Templates.xml
  thorne_drak/Options/Loot/Thorne/EQUI_LootWnd.xml
  thorne_drak/Options/Merchant/Thorne Bags/EQUI_MerchantWnd.xml
  thorne_drak/Options/Merchant/Thorne/EQUI_MerchantWnd.xml
Due: validate-xml

chore(github): scaffold issue governance and automation
  .docs/GITHUB-AUTOMATION.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/ui-testing-finding.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/issue-governance.yml
  .github/workflows/issue-triage-comment.yml
  .github/workflows/label-sync.yml
  .github/workflows/project-intake.yml
  .github/workflows/quick-issue-command.yml
Due: scan-links, markdownlint

Path conditions:
  scan-links: any of: \.(md)$
  markdownlint: any of: \.(md)$
  validate-xml: any of: \.(xml)$
