Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

scan-links:
  name: Scan Markdown links
  entry: python .bin/scan_links.py --output .tmp/scan_links.json
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --config .markdownlint.json
  language: system

validate-xml:
  name: Validate XML well-formedness
  entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
  language: system

feat(target): add global recast timer and sync target option variants
  thorne_drak/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/.sync-status.json
  thorne_drak/Options/Target/README.md
  thorne_drak/Options/Target/Standard/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Standard/README.md
  thorne_drak/Options/Target/Thorne Classic/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne Classic/README.md
  thorne_drak/Options/Target/Thorne Pet/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne Pet/README.md
  thorne_drak/Options/Target/Thorne Weight/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne Weight/README.md
  thorne_drak/Options/Target/Thorne/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne/README.md
Due: scan-links, markdownlint, validate-xml

Renaming the Hotbutton options related to inventory slots
  thorne_drak/Options/Hotbutton/Thorne Inventory Stacked/EQUI_HotButtonWnd.xml
  thorne_drak/Options/Hotbutton/Thorne Inventory Stacked/README.md
  thorne_drak/Options/Hotbutton/Thorne Inventory/EQUI_HotbuttonWnd.xml
Due: scan-links, markdownlint, validate-xml

chore(release): prepare v0.7.1 hotbutton polish
  README.md
  VERSION
  thorne_drak/EQUI_HotButtonWnd.xml
  thorne_drak/Options/Hotbutton/.sync-status.json
  thorne_drak/Options/Hotbutton/README.md
  thorne_drak/Options/Hotbutton/Thorne/EQUI_HotbuttonWnd.xml
Due: scan-links, markdownlint, validate-xml

style(ui): switch selected windows to dark rounded templates
  thorne_drak/EQUI_AAWindow.xml
  thorne_drak/EQUI_AdvancedDisplayOptionsWnd.xml
  thorne_drak/EQUI_BarterSearchWnd.xml
  thorne_drak/EQUI_BarterWnd.xml
  thorne_drak/EQUI_EditLabelWnd.xml
  thorne_drak/EQUI_FeedbackWnd.xml
  thorne_drak/EQUI_FriendsWnd.xml
  thorne_drak/EQUI_GiveWnd.xml
  thorne_drak/EQUI_LoadskinWnd.xml
  thorne_drak/EQUI_OptionsWindow.xml
  thorne_drak/EQUI_QuantityWnd.xml
  thorne_drak/EQUI_SkillsWindow.xml
  thorne_drak/EQUI_TextEntryWnd.xml
  thorne_drak/EQUI_TradeWnd.xml
  thorne_drak/EQUI_TradeskillWnd.xml
  thorne_drak/EQUI_TrainWindow.xml
  thorne_drak/Options/Bank/Standard/EQUI_BankWnd.xml
Due: validate-xml

fix(target): normalize mana/attack tick gauges and comments
  thorne_drak/EQUI_TargetWindow.xml
Due: validate-xml

chore(skin): include synced option updates for loadskin window
  thorne_drak/Options/Skin/.sync-status.json
  thorne_drak/Options/Skin/README.md
  thorne_drak/Options/Skin/Thorne/EQUI_LoadskinWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(inventory): migrate slots to A_Slot atlas
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

chore(options): sync animation inventory and target variants
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Inventory/Thorne Classic/EQUI_Inventory.xml
  thorne_drak/Options/Target/.sync-status.json
  thorne_drak/Options/Target/README.md
  thorne_drak/Options/Target/Thorne/EQUI_TargetWindow.xml
Due: scan-links, markdownlint, validate-xml

feat(hotbutton): apply slot art backgrounds and save option updates
  thorne_drak/Options/Hotbutton/.sync-status.json
  thorne_drak/Options/Hotbutton/README.md
  thorne_drak/Options/Hotbutton/Thorne Classic/EQUI_HotbuttonWnd.xml
  thorne_drak/Options/Hotbutton/Thorne/EQUI_HotbuttonWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(actions): repurpose Info tab as Worn equipment mini-slots
  .github/agents/ThorneUI.agent.md
  thorne_drak/Options/Actions/.sync-status.json
  thorne_drak/Options/Actions/README.md
  thorne_drak/Options/Actions/Thorne Classic/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Thorne Classic/README.md
  thorne_drak/Options/Actions/Thorne/EQUI_ActionsWindow.xml
Due: scan-links, markdownlint, validate-xml

feat(inspect): anatomical slot layout with A_Slot backgrounds and logo
  thorne_drak/EQUI_InspectWnd.xml
Due: validate-xml

chore(release): prepare v0.7.2 release
  README.md
  VERSION
  thorne_drak/Options/Inspect/.sync-status.json
  thorne_drak/Options/Inspect/README.md
  thorne_drak/Options/Inspect/Thorne/EQUI_InspectWnd.xml
Due: scan-links, markdownlint, validate-xml

fix(scripts): add fallback_dir for logo atlas + combo-mode copyback
  .bin/regen_slots.py
  .bin/regen_thorne.py
Due: none

style(bank): update slot backgrounds to Thorne standards
  thorne_drak/EQUI_BankWnd.xml
  thorne_drak/Options/Bank/Thorne/EQUI_BankWnd.xml
Due: validate-xml

feat(ui): add new slot animations + update Inventory and HotButton
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_HotButtonWnd.xml
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Hotbutton/Thorne/EQUI_HotbuttonWnd.xml
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
Due: validate-xml

docs(options): update README files across all Options categories
  thorne_drak/Options/Actions/README.md
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Bank/README.md
  thorne_drak/Options/Bazaar/README.md
  thorne_drak/Options/Buff/README.md
  thorne_drak/Options/Cast/README.md
  thorne_drak/Options/Group/README.md
  thorne_drak/Options/Hotbutton/README.md
  thorne_drak/Options/Inspect/README.md
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Loot/README.md
  thorne_drak/Options/Merchant/README.md
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Selector/README.md
  thorne_drak/Options/ShortBuffs/README.md
  thorne_drak/Options/Skin/README.md
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Stats/README.md
  thorne_drak/Options/Target/README.md
Due: scan-links, markdownlint

docs(gauges): add multi-color gauge design documents
  .development/health_gauges/gauges-analysis.md
  .development/health_gauges/gauges-clipping-design.md
  .development/health_gauges/gauges-experiment-plan.md
  .development/health_gauges/gauges-hybrid-design.md
Due: scan-links, markdownlint

chore: update sync status metadata for Animations and Bank options
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Bank/.sync-status.json
Due: none

style(slots): convert A_RecessedBox to A_Slot_Empty across key windows
  thorne_drak/EQUI_BarterWnd.xml
  thorne_drak/EQUI_BazaarWnd.xml
  thorne_drak/EQUI_Container.xml
  thorne_drak/EQUI_GiveWnd.xml
  thorne_drak/EQUI_LootWnd.xml
  thorne_drak/EQUI_MerchantWnd.xml
  thorne_drak/EQUI_TradeWnd.xml
  thorne_drak/EQUI_TradeskillWnd.xml
  thorne_drak/Options/Actions/Standard/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Thorne Bags/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Thorne Classic/EQUI_ActionsWindow.xml
  thorne_drak/Options/Actions/Thorne Fading/EQUI_ActionsWindow.xml
  thorne_drak/Options/Bazaar/Thorne/EQUI_BazaarWnd.xml
  thorne_drak/Options/Hotbutton/Thorne Classic/EQUI_HotbuttonWnd.xml
  thorne_drak/Options/Hotbutton/Thorne Inventory Stacked/EQUI_HotButtonWnd.xml
  thorne_drak/Options/Hotbutton/Thorne Inventory/EQUI_HotbuttonWnd.xml
  thorne_drak/Options/Inventory/Thorne Bags Row/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/Thorne Classic/EQUI_Inventory.xml
  thorne_drak/Options/Inventory/Thorne Fading/EQUI_Inventory.xml
  thorne_drak/Options/Loot/Thorne/EQUI_LootWnd.xml
  thorne_drak/Options/Merchant/Thorne Bags/EQUI_MerchantWnd.xml
  thorne_drak/Options/Merchant/Thorne/EQUI_MerchantWnd.xml
Due: validate-xml

docs(options): update Bazaar and Actions README + sync status
  thorne_drak/Options/Actions/Standard/README.md
  thorne_drak/Options/Bazaar/.sync-status.json
  thorne_drak/Options/Bazaar/README.md
Due: scan-links, markdownlint

feat(gauges): casting gauge + group pet HP color fix
  thorne_drak/EQUI_CastSpellWnd.xml
  thorne_drak/EQUI_GroupWindow.xml
  thorne_drak/Options/Cast/Thorne/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
Due: validate-xml

docs(standards): complete gauge color audit
  .docs/STANDARDS.md
  thorne_drak/Options/Cast/.sync-status.json
  thorne_drak/Options/Cast/README.md
  thorne_drak/Options/Group/.sync-status.json
  thorne_drak/Options/Group/README.md
Due: scan-links, markdownlint

feat(atlas): Add logo atlas generation with per-column lighting modes
  .bin/generate_thorne_button_atlas.json
  .bin/generate_thorne_button_atlas.py
  .bin/generate_thorne_buttons_transparent.py
  .bin/generate_thorne_logo_atlas.json
  .bin/generate_thorne_logo_atlas.py
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_InspectWnd.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Inspect/.sync-status.json
  thorne_drak/Options/Inspect/README.md
  thorne_drak/Options/Inspect/Thorne/EQUI_InspectWnd.xml
  thorne_drak/Options/Slots/.Master/button_atlas_thorne01.tga
  thorne_drak/logo_atlas_thorne01.tga
Due: scan-links, markdownlint, validate-xml

feat(branding): Add logo tab icons with gold tint to ActionsWindow
  .bin/generate_thorne_logo_atlas.json
  .bin/generate_thorne_logo_atlas.py
  thorne_drak/EQUI_ActionsWindow.xml
  thorne_drak/EQUI_Animations.xml
  thorne_drak/logo_icons_thorne01.tga
Due: validate-xml

chore(release): Prepare v0.7.3 - Logo atlas, tab branding, gauge polish
  README.md
  VERSION
Due: scan-links, markdownlint

feat(inventory): Add logo flanks to Ring row in Inventory window
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

feat(container,options): container slot spacing + sync all Thorne options
  .bin/options_thorne_sync.py
  thorne_drak/EQUI_TargetWindow.xml
  thorne_drak/Options/Actions/.sync-status.json
  thorne_drak/Options/Actions/README.md
  thorne_drak/Options/Actions/Thorne/EQUI_ActionsWindow.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Container/.sync-status.json
  thorne_drak/Options/Container/README.md
  thorne_drak/Options/Container/Standard/EQUI_Container.xml
  thorne_drak/Options/Container/Thorne/EQUI_Container.xml
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
  thorne_drak/Options/Target/.sync-status.json
  thorne_drak/Options/Target/README.md
  thorne_drak/Options/Target/Thorne/EQUI_TargetWindow.xml
Due: scan-links, markdownlint, validate-xml

chore(release): Prepare for release v0.7.4
  README.md
  VERSION
Due: scan-links, markdownlint

chore: Remove .tmp from workspace search exclusions
  thorne-ui.code-workspace
Due: none

docs: comprehensive documentation cleanup and roadmap reorganization
  .development/README.md
  .development/archive/DELIVERY-SUMMARY.md
  .development/archive/GITHUB-MCP-LIMITATIONS.md
  .development/archive/PHASE-4-ACTIONS-SIMPLIFICATION.md
  .development/archive/PHASE-5.5-LOOT-ENHANCEMENTS.md
  .development/archive/PHASE-6-CONTAINERS.md
  .development/archive/PHASE-7-INTEGRATION.md
  .development/archive/PHASE-8-POLISH.md
  .development/archive/RELEASES-IMPLEMENTATION.md
  .development/archive/SECURITY.md
  .development/archive/SESSION_COMPLETION_REPORT.md
  .development/archive/TESTING-RELEASES.md
  .development/archive/THORNE-UI-OPTIONS-SYNC-DELIVERY.md
  .development/archive/class-type-structure-ideas.md
  .development/initial_phases/README.md
  .development/item_slots/README.md
  .development/standards/STANDARDIZATION-ROADMAP.md
  .development/stat_icons/README.md
  .docs/ROADMAP-v0.7.0.md
  .docs/ROADMAP-v0.7.5.md
  .docs/ROADMAP-v0.8.0.md
  .docs/ROADMAP-v1.0.0.md
  .docs/STANDARDS.md
  .docs/releases/INDEX.md
  .docs/releases/RELEASES.md
  DEVELOPMENT.md
  README.md
  TODO.md
Due: scan-links, markdownlint

docs(agents): add documentation maintenance rules and fix stale references
  .github/agents/ThorneUI-Analysis.agent.md
  .github/agents/ThorneUI-Documentation.agent.md
  .github/agents/ThorneUI-Implementation.agent.md
  .github/agents/ThorneUI-Testing.agent.md
  .github/agents/ThorneUI.agent.md
Due: scan-links, markdownlint

docs(agents): add XML commenting standards, commit conventions, and reliability improvements
  .github/agents/ThorneUI-Analysis.agent.md
  .github/agents/ThorneUI-Documentation.agent.md
  .github/agents/ThorneUI-Implementation.agent.md
  .github/agents/ThorneUI-Testing.agent.md
  .github/agents/ThorneUI.agent.md
Due: scan-links, markdownlint

docs(agents): add SIDL gotchas, trim low-value content for better signal
  .github/agents/ThorneUI-Implementation.agent.md
  .github/agents/ThorneUI-Testing.agent.md
  .github/agents/ThorneUI.agent.md
Due: scan-links, markdownlint

feat(slots): add Druid class with 14 overrides and 7 themed variants
  thorne_drak/Options/Slots/.Master/.Classes/Druid/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Druid/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Classes/Druid/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Classes/Druid/item_icons_thorne01.tga
  thorne_drak/Options/Slots/Druid/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Bronze/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Druid/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Druid/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Druid/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Druid/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Druid/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Thorne/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Druid/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Druid/Transparent/item_slots_thorne01.tga
Due: none

Path conditions:
  scan-links: any of: \.(md)$
  markdownlint: any of: \.(md)$
  validate-xml: any of: \.(xml)$
