Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: local
    hooks:
      - id: scan-links
        name: Scan Markdown links
        entry: python .bin/scan_links.py --output .tmp/scan_links.json
        language: system
        files: \.(md)$
        pass_filenames: false

      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2 --config .markdownlint.json
        language: system
        files: \.(md)$

      - id: validate-xml
        name: Validate XML well-formedness
        entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
        language: system
        files: \.(xml)$

      - id: cspell
        name: cspell
        entry: cspell lint --config .cspell.json
        language: system
        files: \.(md|txt|xml|py)$
        stages: [manual]

feat(slots): add item catalog tools and vision classification
  .bin/generate_catalog.py
  .bin/vision_classify.py
  .gitignore
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.json
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.md
Due: scan-links, markdownlint

refactor(items): make _slot_map the single source of truth
  .bin/generate_catalog.py
  .bin/vision_classify.py
  thorne_drak/Options/Slots/.Master/.Items/README.md
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.json
Due: scan-links, markdownlint

feat(items): confirm dragitem2-4, add new subcategories
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.json
Due: none

feat(slots): add item data pipeline with 15-class icon scoring
  .bin/README.md
  .bin/build_slot_reference.py
  .bin/extract_eq_items.py
  .bin/pick_class_icons.py
  .development/item_slots/ITEM-DATA-PIPELINE.md
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.json
Due: scan-links, markdownlint

refactor(slots): consolidate cache to .Items/.cache and update docs
  .bin/README.md
  .bin/build_slot_reference.py
  .bin/extract_eq_items.py
  .bin/generate_catalog.py
  .bin/pick_class_icons.py
  .bin/vision_classify.py
  .development/item_slots/ITEM-DATA-PIPELINE.md
  thorne_drak/Options/Slots/.Master/.Items/README.md
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.json
  thorne_drak/Options/Slots/.Master/.Items/item_catalog.md
Due: scan-links, markdownlint

feat(slots): generate .regen_thorne.json for all 15 EQ classes
  .bin/generate_regen_json.py
  thorne_drak/Options/Slots/.Master/.Research/Bard/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Beastlord/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Cleric/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Druid/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Enchanter/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Magician/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Monk/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Necro/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Research/Necro/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Necro/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Research/Necro/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Research/Necromancer/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Paladin/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Priest/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Research/Priest/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Priest/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Research/Priest/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Research/Rogue/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Shadowknight/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Shaman/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Warrior/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Research/Wizard/.regen_thorne.json
Due: none

fix(slots): add confidence penalty to icon scoring
  .bin/pick_class_icons.py
Due: none

feat(slots): add --research flag to regen_thorne.py
  .bin/regen_thorne.py
Due: none

chore(slots): remove obsolete Hybrid/Melee class directories
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Classes/Melee/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Melee/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Classes/Melee/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Classes/Melee/item_icons_thorne01.tga
Due: none

chore: update workspace settings (terminal auto-approve)
  thorne-ui.code-workspace
Due: none

chore(release): prepare for release v0.7.5
  .docs/ROADMAP-v0.7.5.md
  README.md
  TODO.md
  VERSION
Due: scan-links, markdownlint

chore(release): start v0.8.0 development branch
  .docs/ROADMAP-v0.8.0.md
  TODO.md
Due: scan-links, markdownlint

fix(inventory,player): widen HP/Mana value labels and shift stat icons
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/EQUI_PlayerWindow.xml
Due: validate-xml

feat(gauges): add multi-color composite gauge experiment (WIP)
  .bin/regen_gauges.py
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay150_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay150t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay230t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay240t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay260t_thorne02.tga
  thorne_drak/gauge_inlay120_thorne02.tga
  thorne_drak/gauge_inlay120t_thorne02.tga
  thorne_drak/gauge_inlay150_thorne02.tga
  thorne_drak/gauge_inlay150t_thorne02.tga
  thorne_drak/gauge_inlay230t_thorne02.tga
  thorne_drak/gauge_inlay240t_thorne02.tga
  thorne_drak/gauge_inlay250t_thorne02.tga
  thorne_drak/gauge_inlay260t_thorne02.tga
Due: validate-xml

feat(gauges): add thorne02 TextureInfo and Lines overlay approach
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(gauges): invert red palette and unify fill approach
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

docs(gauges): fix threshold percentages to actual 20% boundaries
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

chore(options): refresh Thorne baselines for Animations, Inventory, Player, Stats
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
  thorne_drak/Options/Player/.sync-status.json
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
  thorne_drak/Options/Stats/.sync-status.json
  thorne_drak/Options/Stats/README.md
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(gauges): tune Ocean Mana palette — brighter sky-blue M2
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(gauges): bind Ocean Mana gauges to EQType 2 (Mana)
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(gauges): align composite palettes with thematic color names
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Red/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Thorne/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(gauges): reverse individual gauge display order (full at top)
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Red/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Thorne/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(gauges): split testing files into per-palette variants
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Quad/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Shades/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Thorne/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(gauges): Pet HP experiment — Purple Shades vs Amethyst Arc
  .docs/STANDARDS.md
  thorne_drak/Testing/Gauges/Pet/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

style(gauges): thematic color names across palettes and STANDARDS.md
  .docs/STANDARDS.md
  .github/agents/ThorneUI.agent.md
  thorne_drak/Testing/Gauges/Quad/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Shades/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(player): apply Shades palettes and add Options variants
  thorne_drak/Options/Player/.sync-status.json
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Player/Thorne Arc/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne Arc/README.md
  thorne_drak/Options/Player/Thorne Standard/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne Standard/README.md
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
  thorne_drak/Options/Stats/.sync-status.json
  thorne_drak/Options/Stats/README.md
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Arc/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(pet): Purple Shades composite gauge for PetInfoWindow
  thorne_drak/Options/Pet/.sync-status.json
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Pet/Thorne Standard/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
Due: scan-links, markdownlint, validate-xml

fix(spellbook): swap gauge positions across all variants
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne Standard/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
Due: scan-links, markdownlint, validate-xml

fix(scripts): skip README write when content unchanged
  .bin/options_thorne_sync.py
Due: none

chore(target): add Thorne Standard option variant
  thorne_drak/Options/Target/README.md
  thorne_drak/Options/Target/Thorne Standard/EQUI_TargetWindow.xml
Due: scan-links, markdownlint, validate-xml
