Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

scan-links:
  name: Scan Markdown links
  entry: python .bin/scan_links.py --output .tmp/scan_links.json
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --config .markdownlint.json
  language: system

validate-xml:
  name: Validate XML well-formedness
  entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
  language: system

feat(build): add regen_slots.bat wrapper script
  regen_slots.bat
Due: none

feat(slots): align atlas layout with regen_thorne - logos moved to row 6, added all placeholders
  .bin/regen_slots.json
Due: none

feat(slots): add logo_6 overrides to all slot variants
  thorne_drak/Options/Slots/Gold/.regen_slots.json
  thorne_drak/Options/Slots/Metal/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Silver/.regen_slots.json
  thorne_drak/Options/Slots/Texture/.regen_slots.json
  thorne_drak/Options/Slots/Transparent/.regen_slots.json
Due: none

feat(slots): regenerate all variants with full 36-item atlas layout
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_icons_thorne01.tga
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
  thorne_drak/item_slots_thorne01.tga
Due: none

feat(brightness): test Option 3 - lower contrast, higher brightness for bag/feet items
  .bin/regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/logo_atlas_thorne01.tga
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/.regen_slots.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/.regen_slots.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
  thorne_drak/item_slots_thorne01.tga
Due: none

fix(slots): add pack and satchel to master items list
  .bin/regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/dragitem11.tga
  thorne_drak/Options/Slots/.Master/dragitem12.tga
  thorne_drak/Options/Slots/.Master/dragitem13.tga
  thorne_drak/Options/Slots/.Master/dragitem14.tga
  thorne_drak/Options/Slots/.Master/dragitem15.tga
  thorne_drak/Options/Slots/.Master/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_icons_thorne01.tga
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
  thorne_drak/item_slots_thorne01.tga
Due: none

feat(patriot): brighten weapon gradient with whiter red middle
  .bin/regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
  thorne_drak/item_slots_thorne01.tga
Due: none

feat(shadow): add middle_color for dark-to-light-to-dark diagonal blend
  .bin/regen_slots.json
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/item_slots_thorne01.tga
Due: none

refactor(slots): compact JSON formatting for readability
  .bin/regen_slots.json
Due: none

fix: restore satchel offset_y to 1 (intentional positioning)
  .bin/regen_slots.json
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/item_slots_thorne01.tga
Due: none

feat: regen_thorne.bat now calls regen_slots.bat --all after atlases regenerate
  regen_thorne.bat
Due: none

chore: sync slot outputs after regen
  .bin/regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_icons_thorne01.tga
  thorne_drak/Options/Slots/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Metal/.regen_slots-stats.json
  thorne_drak/Options/Slots/Metal/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Transparent/item_slots_thorne01.tga
  thorne_drak/item_slots_thorne01.tga
Due: none

feat(slots): tri-metal gradients, diagonal gleam variants, and class-type layout notes
  .bin/regen_slots.json
  .development/slot_variations/class_type_slots.md
Due: scan-links, markdownlint

chore(slots): Update metal gradients to tri-color dark/light/mid pattern with diagonal gleams
  .bin/regen_slots.json
Due: none

feat(slots): Create .Master directory structure with themed and class-specific configs
  thorne_drak/Options/Slots/.Master/.Classes/Caster/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Classes/Melee/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/.Themes/Gold/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Metal/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Silver/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Texture/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Thorne/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Transparent/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_slots.json
  thorne_drak/Options/Slots/.Master/README.md
Due: scan-links, markdownlint

refactor(slots): Move dragitems to .Items directory and update script paths
  .bin/regen_thorne.py
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
Due: none

chore(slots): Remove redundant .bin/regen_slots.json - use .Master/.regen_slots.json as single source of truth
  .bin/regen_slots.json
Due: none

feat(slots): update all theme configurations
  thorne_drak/Options/Slots/.Master/.Themes/Gold/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Silver/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Texture/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Thorne/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Transparent/.regen_slots.json
Due: none

feat(slots): update scripts for .Classes structure + auto-regen workflow
  .bin/regen_slots.py
  .bin/regen_thorne.py
  regen_slots.bat
  regen_thorne.bat
Due: none

docs(slots): comprehensive workflow and concept guides
  .bin/regen_slots.md
  .development/slot_variants/class_type_final.md
  .development/slot_variations/class_type_slots.md
  .development/thorne_slots/README.md
  .development/thorne_slots/proof_of_concept.md
  thorne_drak/Options/Slots/.Master/README-CLASSES.md
  thorne_drak/Options/Slots/.Master/README-THEMES.md
  thorne_drak/Options/Slots/.Master/README.md
Due: scan-links, markdownlint

chore(slots): regeneration metadata from Feb 22 16:32 run
  thorne_drak/Options/Slots/.Master/.Classes/Caster/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Melee/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/Caster/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Transparent/.regen_slots-stats.json
Due: none

chore(slots): default to dot progress output
  .bin/regen_slots.py
  .bin/regen_thorne.py
Due: none

chore(slots): remove timestamps from stats files
  .bin/regen_slots.py
  .bin/regen_thorne.py
  thorne_drak/Options/Slots/.Master/.Classes/Caster/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Hybrid/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Melee/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/Caster/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Caster/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Hybrid/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Melee/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Transparent/.regen_slots-stats.json
Due: none

chore(regen): remove timestamps from all generator scripts
  .bin/regen_gauges.py
  .bin/regen_gems.py
  .bin/regen_icons.py
Due: none

chore(bat): update wrappers for --class, --theme, --verbose flags
  regen_slots.bat
  regen_thorne.bat
Due: none

chore(regen): standardize argparse across all 5 regen scripts
  .bin/regen_gauges.py
  .bin/regen_gems.py
  .bin/regen_icons.py
  .bin/regen_slots.py
  .bin/regen_thorne.py
Due: none

build(thorne-class): regenerate Thorne class atlases and all 7 slot themes
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Themes/Bronze/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Gold/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Silver/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Texture/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Thorne/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Transparent/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_thorne-stats.json
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
  thorne_drak/Options/Slots/.Master/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/logo_atlas_thorne01.tga
  thorne_drak/Options/Slots/Bronze/.regen_slots.json
  thorne_drak/Options/Slots/Thorne/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Bronze/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Thorne/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Thorne/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Transparent/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Transparent/item_slots_thorne01.tga
Due: none

docs(analysis): comprehensive slot types inventory and customization roadmap
  .development/slot_variants/slot_types.md
Due: scan-links, markdownlint

build(thorne-class): refine Thorne class colors and transparency
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/item_atlas_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Classes/Thorne/item_icons_thorne01.tga
  thorne_drak/Options/Slots/.Master/.Themes/Bronze/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Gold/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Patriot/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Silver/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.Themes/Texture/.regen_slots.json
  thorne_drak/Options/Slots/.Master/.regen_thorne.json
  thorne_drak/Options/Slots/Thorne/Bronze/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Bronze/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Gold/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Gold/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Patriot/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Patriot/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Silver/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Silver/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Texture/.regen_slots-stats.json
  thorne_drak/Options/Slots/Thorne/Texture/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Thorne/item_slots_thorne01.tga
  thorne_drak/Options/Slots/Thorne/Transparent/item_slots_thorne01.tga
Due: none

chore(release): prepare v0.7.0
  .docs/releases/INDEX.md
  .docs/releases/v0.7.0/README.md
  .docs/releases/v0.7.0/RELEASE-CHECKLIST.md
  .docs/releases/v0.7.0/v0.7.0-CHANGES.md
  README.md
  VERSION
Due: scan-links, markdownlint

feat(ui): restore player weight, add AA label, and clean player variants
  thorne_drak/EQUI_Inventory.xml
  thorne_drak/EQUI_PlayerWindow.xml
  thorne_drak/Options/Inventory/.sync-status.json
  thorne_drak/Options/Inventory/README.md
  thorne_drak/Options/Inventory/Thorne/EQUI_Inventory.xml
  thorne_drak/Options/Loot/.sync-status.json
  thorne_drak/Options/Loot/README.md
  thorne_drak/Options/Player/.sync-status.json
  thorne_drak/Options/Player/AA and XP Bottom/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/AA and XP Bottom/README.md
  thorne_drak/Options/Player/Pet Bottom/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Pet Bottom/README.md
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Player/Standard/EQUI_PlayerNotesWindow.xml
  thorne_drak/Options/Player/Standard/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Standard/README.md
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
Due: scan-links, markdownlint, validate-xml

feat(animations): centralize cast button assets and sync option snapshots
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Cast/.sync-status.json
  thorne_drak/Options/Cast/README.md
  thorne_drak/Options/Cast/Thorne/EQUI_CastSpellWnd.xml
  thorne_drak/window_pieces01.tga
Due: scan-links, markdownlint, validate-xml

feat(buff): redesign buff layouts and add Buff option variants
  thorne_drak/EQUI_ShortDurationBuffWindow.xml
  thorne_drak/Options/Buff/.sync-status.json
  thorne_drak/Options/Buff/Original/EQUI_BuffWindow.xml
  thorne_drak/Options/Buff/README.md
  thorne_drak/Options/Buff/Standard/EQUI_BuffWindow.xml
  thorne_drak/Options/Buff/Thorne/EQUI_BuffWindow.xml
Due: scan-links, markdownlint, validate-xml

chore(sync): add Buff window mapping to options sync
  .bin/options_thorne_sync.py
Due: none

chore(options): add Standard snapshots for Group and Player
  thorne_drak/Options/Group/README.md
  thorne_drak/Options/Group/Standard/EQUI_GroupWindow.xml
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Player/Standard/EQUI_PlayerWindow.xml
Due: scan-links, markdownlint, validate-xml

feat(shortbuffs): add options and sync mapping
  .bin/options_thorne_sync.py
  thorne_drak/Options/ShortBuffs/.sync-status.json
  thorne_drak/Options/ShortBuffs/README.md
  thorne_drak/Options/ShortBuffs/Standard/EQUI_ShortDurationBuffWindow.xml
  thorne_drak/Options/ShortBuffs/Thorne/EQUI_ShortDurationBuffWindow.xml
Due: scan-links, markdownlint, validate-xml

wip(musicplayer): checkpoint slot test with legacy compatibility
  thorne_drak/EQUI_MusicPlayerWnd.xml
Due: validate-xml

Path conditions:
  scan-links: any of: \.(md)$
  markdownlint: any of: \.(md)$
  validate-xml: any of: \.(xml)$
