Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: local
    hooks:
      - id: scan-links
        name: Scan Markdown links
        entry: python .bin/scan_links.py --output .tmp/scan_links.json
        language: system
        files: \.(md)$
        pass_filenames: false

      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2 --config .markdownlint.json
        language: system
        files: \.(md)$

      - id: validate-xml
        name: Validate XML well-formedness
        entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
        language: system
        files: \.(xml)$

      - id: cspell
        name: cspell
        entry: cspell lint --config .cspell.json
        language: system
        files: \.(md|txt|xml|py)$
        stages: [manual]

chore(config): re-disable MD031/MD032 markdownlint rules - too noisy for current codebase
  .markdownlint.json
  thorne-ui.code-workspace
Due: none

refactor(inventory): Comprehensive stat layout optimization
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(inventory): Layout optimization round 2 - icons, spacing, centering
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(inventory): Add divider lines and 8px gaps between stat groups
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(inventory): Fine-tune stats spacing and alignment
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(inventory): Increase weight icon to 18x18px match coin icons
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(inventory): Shift weight icon left 2px for spacing
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(inventory): Shift main stat icons right 3px for balance
  thorne_drak/EQUI_Inventory.xml
Due: validate-xml

refactor(icons): Simplify icon coordinates with row/col grid format
  .bin/regen_icons.json
  .bin/regen_icons.py
Due: none

chore(workspace): Configure .venv auto-activation for all shell types
  .bashrc
  thorne-ui.code-workspace
  thorne_drak/Options/Icons/Classic/staticons01-stats.json
  thorne_drak/Options/Icons/Duxa/staticons01-stats.json
  thorne_drak/Options/Icons/Infiniti/staticons01-stats.json
  thorne_drak/Options/Icons/Steamworks/staticons01-stats.json
  thorne_drak/Options/Icons/Thorne/staticons01-stats.json
  thorne_drak/Options/Icons/WoW/staticons01-stats.json
Due: none

feat(spellbook): finalize 4-column layout and control alignment
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(spellbook): comprehensive layout redesign with variant options
  thorne-ui.code-workspace
  thorne_drak/Options/Spellbook/Default/EQUI_SpellbookWnd.xml
  thorne_drak/Options/Spellbook/Large Icons/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Medium Icons/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Small Icons/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Small Icons/README.md
Due: scan-links, markdownlint, validate-xml

feat(spellbook): width adjustment and testing infrastructure
  .bin/sync_option.py
  .github/agents/ThorneUI-Implementation.agent.md
  .github/agents/ThorneUI.agent.md
  SYNC-SCRIPTS.md
  sync-option.bat
  thorne_drak/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Inventory/Standard/README.md
  thorne_drak/Options/Merchant/Large Inventory and Bags/README.md
  thorne_drak/Options/Merchant/Large inventory/README.md
  thorne_drak/Options/Pet/Standard/README.md
  thorne_drak/Options/Pet/Tall Gauge/README.md
  thorne_drak/Options/Player/AA and XP Bottom/README.md
  thorne_drak/Options/Player/Default/README.md
  thorne_drak/Options/Player/Pet Bottom/README.md
  thorne_drak/Options/Spellbook/Default/EQUI_SpellbookWnd.xml
  thorne_drak/Options/Spellbook/Large Icons/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Small Icons/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Small Icons/README.md
Due: scan-links, markdownlint, validate-xml

feat(options): add Thorne sync tooling and docs workflow
  .bin/OPTIONS-ANALYSIS.md
  .bin/README.md
  .bin/archive/AUDIT-REPORT.md
  .bin/options_duplicate_detector.py
  .bin/options_fix_readme.py
  .bin/options_generate_readme.py
  .bin/options_thorne_compare.py
  .bin/options_thorne_sync.py
  .bin/regen_gems.py
  .development/options-sync/DELIVERY-SUMMARY.md
  .development/options-sync/THORNE-UI-OPTIONS-SYNC-DELIVERY.md
  .docs/options-sync/CHEAT-SHEET.md
  .docs/options-sync/OPERATIONS-GUIDE.md
  .docs/options-sync/README.md
  .docs/options-sync/TOOLS.md
  SYNC-SCRIPTS.md
  regen_gems.bat
  regen_icons.bat
  sync-option-thorne.bat
Due: scan-links, markdownlint

fix(ui): standardize Spellbook and Cast button heights/layout
  thorne_drak/EQUI_CastSpellWnd.xml
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(icons): regenerate gem icon variants across options packs
  thorne_drak/Options/Icons/Classic/gemicons01.tga
  thorne_drak/Options/Icons/Classic/gemicons02.tga
  thorne_drak/Options/Icons/Classic/gemicons03.tga
  thorne_drak/Options/Icons/Classic/regen_gems_stats.json
  thorne_drak/Options/Icons/Duxa/gemicons01.tga
  thorne_drak/Options/Icons/Duxa/gemicons02.tga
  thorne_drak/Options/Icons/Duxa/gemicons03.tga
  thorne_drak/Options/Icons/Duxa/regen_gems_stats.json
  thorne_drak/Options/Icons/Infiniti/gemicons01.tga
  thorne_drak/Options/Icons/Infiniti/gemicons02.tga
  thorne_drak/Options/Icons/Infiniti/gemicons03.tga
  thorne_drak/Options/Icons/Infiniti/regen_gems_stats.json
  thorne_drak/Options/Icons/Steamworks/gemicons01.tga
  thorne_drak/Options/Icons/Steamworks/gemicons02.tga
  thorne_drak/Options/Icons/Steamworks/regen_gems_stats.json
  thorne_drak/Options/Icons/Thorne/gemicons01.tga
  thorne_drak/Options/Icons/Thorne/gemicons02.tga
  thorne_drak/Options/Icons/Thorne/gemicons03.tga
  thorne_drak/Options/Icons/Thorne/regen_gems_stats.json
  thorne_drak/Options/Icons/WoW/gemicons01.tga
  thorne_drak/Options/Icons/WoW/gemicons02.tga
  thorne_drak/Options/Icons/WoW/gemicons03.tga
  thorne_drak/Options/Icons/WoW/regen_gems_stats.json
  thorne_drak/gemicons01.tga
  thorne_drak/gemicons02.tga
  thorne_drak/gemicons03.tga
Due: none

chore(release): prepare v0.6.5 notes and documentation
  .docs/VERSION-MANAGEMENT.md
  .docs/releases/INDEX.md
  .docs/releases/RELEASES-FAQ.md
  .docs/releases/RELEASES-QUICKSTART.md
  .docs/releases/RELEASES.md
  .docs/releases/v0.6.5/README.md
  .docs/releases/v0.6.5/RELEASE-CHECKLIST.md
  .docs/releases/v0.6.5/v0.6.5-CHANGES.md
  DEVELOPMENT.md
  README.md
  VERSION
Due: scan-links, markdownlint

docs: comprehensive documentation consolidation and brand voice enhancement
  .docs/VERSION-MANAGEMENT.md
  .github/agents/ThorneUI.agent.md
  .github/workflows/release.yml
  DEVELOPMENT.md
  README.md
Due: scan-links, markdownlint

docs: legendary craftsmanship extends to documentation—consolidation, archival, and v0.7.0 clarity
  .development/README.md
  .development/archive/initial-phases/phase-6-inventory-research/ARCHIVE-INDEX.md
  .development/initial-phases/PHASE-3.9-INVENTORY-REDESIGN.md
  .development/initial-phases/README.md
  .docs/ROADMAP-v0.7.0.md
  .docs/releases/INDEX.md
  .docs/releases/RELEASES-CONSOLIDATION-INDEX.md
  .github/agents/ThorneUI.agent.md
Due: scan-links, markdownlint

docs: simplify .development structure—remove redundant archive directories
  .development/README.md
  .development/archives/stat-icons-coordinates.BACKUP.old.json
  .development/initial-phases/PHASE-6-INVENTORY-WINDOWS/phase-6-inventory-research/ARCHIVE-INDEX.md
  .development/initial-phases/README.md
  .docs/releases/RELEASES-CONSOLIDATION-INDEX.md
Due: scan-links, markdownlint

fix(docs): fix broken release documentation links and remove consolidation meta-doc
  .docs/releases/INDEX.md
  .docs/releases/RELEASES-CONSOLIDATION-INDEX.md
  .docs/releases/RELEASES.md
Due: scan-links, markdownlint

feat(tools): add link scanner configuration file support
  .bin/scan_links.py
  .docs/LINK-SCANNER-CONFIG.md
  .linkscanconfig.json
Due: scan-links, markdownlint

fix: rename link scanner config file to follow standard naming convention
  .bin/scan_links.py
  .docs/LINK-SCANNER-CONFIG.md
  .scan_linksrc.json
Due: scan-links, markdownlint

fix(docs): fix broken link syntax in variant template
  .docs/templates/options/README.variant.md
Due: scan-links, markdownlint

feat(cast-spellwnd): add recast timer gauges and create Enhanced variant
  thorne_drak/Options/Cast/Enhanced/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Enhanced/README.md
  thorne_drak/Options/Cast/Enhanced/button_dark_pieces01.tga
  thorne_drak/Options/Cast/Enhanced/button_light_pieces01.tga
  thorne_drak/Options/Cast/Thorne/button_dark_pieces01.tga
  thorne_drak/Options/Cast/Thorne/button_light_pieces01.tga
Due: scan-links, markdownlint, validate-xml

feat(gauges): add 230t/240t animations and tick fills
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_CastSpellWnd.xml
Due: validate-xml

feat(gauges): finalize 3px tick animations and regenerate gauge assets
  thorne_drak/EQUI_Animations.xml
  thorne_drak/Options/Gauges/Bubbles/gauge_120_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_120t_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_150_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_150t_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_230t_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_240t_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_250t_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_260t_pieces01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_120_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_120t_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_150_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_150t_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_230t_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_240t_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_250t_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_260t_pieces01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_120_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_120t_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_150_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_150t_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_230t_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_240t_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_250t_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_260t_pieces01.tga
  thorne_drak/Options/Gauges/Oval/gauge_pieces01.tga
Due: validate-xml

feat(textures): organize button textures with base-opacity naming convention
  .development/ui-analysis/CASTSPELL-analysis.md
  .development/ui-analysis/COMPLETE-COVERAGE.md
  .docs/STANDARDS.md
  .docs/technical/EQTYPES.md
  thorne_drak/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Cast/.sync-status.json
  thorne_drak/Options/Cast/Enhanced/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Enhanced/README.md
  thorne_drak/Options/Cast/Enhanced/button_dark_pieces01.tga
  thorne_drak/Options/Cast/Enhanced/button_light_pieces01.tga
  thorne_drak/Options/Cast/README.md
  thorne_drak/Options/Cast/Standard/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Standard/README.md
  thorne_drak/Options/Cast/Thorne/EQUI_CastSpellWnd.xml
  thorne_drak/Options/Cast/Thorne/README.md
  thorne_drak/Options/Cast/Thorne/button_dark_pieces01.tga
  thorne_drak/Options/Cast/Thorne/button_light_pieces01.tga
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/button_dark-opaque01.tga
  thorne_drak/button_dark-phantom01.tga
  thorne_drak/button_dark-shade01.tga
  thorne_drak/button_light-ghost01.tga
  thorne_drak/button_light-opaque01.tga
  thorne_drak/button_light-shimmer01.tga
  thorne_drak/button_neutral-haze01.tga
  thorne_drak/button_neutral-opaque01.tga
  thorne_drak/button_neutral-wisp01.tga
Due: scan-links, markdownlint, validate-xml

fix(sync & textures): correct thorne_dev references and window header rendering
  sync-thorne-ui.bat
  thorne_drak/window_pieces01.tga
Due: none

docs(assets): add initial thorne_drak01.jpg logo with white background
  thorne_drak/thorne_drak01.jpg
Due: none

feat(assets): add thorne_drak01.png with rock texture alpha transparency
  thorne_drak/thorne_drak01.png
Due: none

feat(assets): smooth white fringe into black transparent background
  thorne_drak/thorne_drak01.png
Due: none

feat(assets): tint transparent fringe dark gray instead of black
  thorne_drak/thorne_drak01.png
Due: none

feat(icons): add hand-editable button variants and source workflow
  .bin/generate_thorne_slot_variants.py
  thorne_drak/bow_slot_source.tga
  thorne_drak/button_clean_from_bow.tga
  thorne_drak/thorne_buttons01.tga
  thorne_drak/thorne_icon.tga
Due: none

feat(icons): dual-button comparison atlas
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_icons_slots01.tga
Due: none

feat(icons): add source assets and animation definitions
  .bin/generate_thorne_icons_collage.py
  thorne-ui.code-workspace
  thorne_drak/EQUI_Animations.xml
  thorne_drak/thorne_drak01.tga
  thorne_drak/thorne_icons01.tga
  thorne_drak/window_pieces02.tga
Due: validate-xml

feat(icons): comprehensive variant comparison atlas
  .bin/generate_thorne_slot_variants.py
  thorne_drak/thorne_icons_slots01.tga
Due: none
