Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

scan-links:
  name: Scan Markdown links
  entry: python .bin/scan_links.py --output .tmp/scan_links.json
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --config .markdownlint.json
  language: system

validate-xml:
  name: Validate XML well-formedness
  entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
  language: system

feat(gauges): spellbook Shades composites, 105t pipeline, and window refinements
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_GroupWindow.xml
  thorne_drak/EQUI_PetInfoWindow.xml
  thorne_drak/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Gauges/Bars/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay105t_thorne01.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Spellbook/.sync-status.json
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
  thorne_drak/gauge_inlay105t_thorne01.tga
  thorne_drak/gauge_inlay105t_thorne02.tga
Due: scan-links, markdownlint, validate-xml

fix(gauges): clear gridfill edge columns when bake_overlay is true
  .bin/regen_gauges.py
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Gauges/Bars/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Basic/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Basic/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Grid/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Grid/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Oval/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Thorne 7/.regen_gauges-stats.json
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Group/.sync-status.json
  thorne_drak/Options/Group/README.md
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
  thorne_drak/Options/Pet/.sync-status.json
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
  thorne_drak/gauge_inlay105t_thorne02.tga
  thorne_drak/gauge_inlay120_thorne02.tga
  thorne_drak/gauge_inlay120t_thorne02.tga
  thorne_drak/gauge_inlay250t_thorne02.tga
Due: scan-links, markdownlint, validate-xml

feat(group): align all 5 member rows to consistent layout pattern
  thorne_drak/Options/Group/.sync-status.json
  thorne_drak/Options/Group/README.md
  thorne_drak/Options/Group/Thorne Standard/EQUI_GroupWindow.xml
  thorne_drak/Options/Group/Thorne Standard/README.md
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
Due: scan-links, markdownlint, validate-xml

feat(gauges): add LightGridFill row and overlay config to regen_gauges.py
  .bin/regen_gauges.py
  thorne_drak/Options/Gauges/Bars/.regen_gauges.json
  thorne_drak/Options/Gauges/Basic/.regen_gauges.json
  thorne_drak/Options/Gauges/Bubbles/.regen_gauges.json
  thorne_drak/Options/Gauges/Grid/.regen_gauges.json
  thorne_drak/Options/Gauges/Light Bubbles/.regen_gauges.json
  thorne_drak/Options/Gauges/Oval/.regen_gauges.json
  thorne_drak/Options/Gauges/Thorne 7/.regen_gauges.json
  thorne_drak/Options/Gauges/Thorne/.regen_gauges.json
Due: none

feat(gauges): regenerate all thorne02 TGA textures with 4-row composite
  thorne_drak/Options/Gauges/Bars/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay250t_thorne02.tga
  thorne_drak/gauge_inlay105t_thorne02.tga
  thorne_drak/gauge_inlay120_thorne02.tga
  thorne_drak/gauge_inlay120t_thorne02.tga
  thorne_drak/gauge_inlay250t_thorne02.tga
Due: none

feat(animations): add LightGridFill and wide 120 gauge animations
  thorne_drak/EQUI_Animations.xml
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
Due: scan-links, markdownlint, validate-xml

fix(group): correct gauge width from CX=128 to CX=120
  thorne_drak/EQUI_GroupWindow.xml
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
Due: validate-xml

feat(aawindow,breath): convert to tall composite gauge templates
  thorne_drak/EQUI_AAWindow.xml
  thorne_drak/EQUI_BreathWindow.xml
Due: validate-xml

feat(pet,spellbook): update gauge animations and LightGridFill
  thorne_drak/EQUI_PetInfoWindow.xml
  thorne_drak/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Pet/.sync-status.json
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Pet/Thorne Standard/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Spellbook/.sync-status.json
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(options): add AltAdvance, Breath, and Shades variants
  .bin/options_thorne_sync.py
  thorne_drak/Options/AltAdvance/Standard/EQUI_AAWindow.xml
  thorne_drak/Options/AltAdvance/Thorne/EQUI_AAWindow.xml
  thorne_drak/Options/Breath/Standard/EQUI_BreathWindow.xml
  thorne_drak/Options/Breath/Thorne/EQUI_BreathWindow.xml
  thorne_drak/Options/Pet/Thorne Shades/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Player/Thorne Shades/EQUI_PlayerWindow.xml
  thorne_drak/Options/Spellbook/Thorne Shades/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(gauges): add preserve_gaps fill scaling and parameterize gridfill/lightgridfill
  .bin/regen_gauges.py
Due: none

feat(gauges): add preserve_gaps + lightgridfill to all JSON configs
  thorne_drak/Options/Gauges/Bars/.regen_gauges.json
  thorne_drak/Options/Gauges/Basic/.regen_gauges.json
  thorne_drak/Options/Gauges/Bubbles/.regen_gauges.json
  thorne_drak/Options/Gauges/Grid/.regen_gauges.json
  thorne_drak/Options/Gauges/Light Bubbles/.regen_gauges.json
  thorne_drak/Options/Gauges/Oval/.regen_gauges.json
  thorne_drak/Options/Gauges/Thorne 7/.regen_gauges.json
  thorne_drak/Options/Gauges/Thorne/.regen_gauges.json
Due: none

feat(gauges): regenerate all thorne02 composites
  thorne_drak/Options/Gauges/Bars/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Bars/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Basic/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Bubbles/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Grid/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Light Bubbles/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Oval/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne 7/gauge_inlay250t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay120t_thorne02.tga
  thorne_drak/Options/Gauges/Thorne/gauge_inlay250t_thorne02.tga
  thorne_drak/gauge_inlay105t_thorne02.tga
  thorne_drak/gauge_inlay120_thorne02.tga
  thorne_drak/gauge_inlay120t_thorne02.tga
  thorne_drak/gauge_inlay250t_thorne02.tga
Due: none

docs(options): add Thorne Shades to Pet and Player README indexes
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Player/README.md
Due: scan-links, markdownlint

fix(gauges): align band clip widths to texture grid positions
  .development/health_gauges/gauges-analysis.md
  .docs/STANDARDS.md
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/EQUI_PetInfoWindow.xml
  thorne_drak/EQUI_PlayerWindow.xml
  thorne_drak/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Pet/Thorne Shades/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Player/Thorne Arc/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne Shades/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
  thorne_drak/Options/Spellbook/Thorne Shades/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
  thorne_drak/Testing/Gauges/Arc/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Pet/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Quad/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Shades/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(gauges): add composite Veil gauges to BreathWindow and GroupWindow
  thorne_drak/EQUI_BreathWindow.xml
  thorne_drak/EQUI_GroupWindow.xml
  thorne_drak/Options/Breath/.sync-status.json
  thorne_drak/Options/Breath/README.md
  thorne_drak/Options/Breath/Thorne/EQUI_BreathWindow.xml
  thorne_drak/Options/Stats/.sync-status.json
  thorne_drak/Options/Stats/README.md
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(target): add Red Veil composite to Target HP and 250t Oversized animations
  thorne_drak/EQUI_Animations.xml
  thorne_drak/EQUI_TargetWindow.xml
Due: validate-xml

refactor(gauges): rename Shades to Veil across all files and directories
  .docs/STANDARDS.md
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/EQUI_PetInfoWindow.xml
  thorne_drak/EQUI_PlayerWindow.xml
  thorne_drak/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Pet/Thorne Veil/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Player/Thorne Veil/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne Veil/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Arc/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Pet/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Quad/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Veil/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

docs(standards): add comprehensive Veil composite gauge documentation
  .docs/STANDARDS.md
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Group/.sync-status.json
  thorne_drak/Options/Group/README.md
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Target/.sync-status.json
  thorne_drak/Options/Target/README.md
  thorne_drak/Options/Target/Thorne/EQUI_TargetWindow.xml
Due: scan-links, markdownlint, validate-xml

fix(target): rebuild composite with correct Nillipuss structure
  thorne_drak/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne/EQUI_TargetWindow.xml
Due: validate-xml

fix(spellbook): adjust clip widths -1px for grid alignment testing
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

fix(spellbook): try clip at gridline+1 instead of gridline-1
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

fix(spellbook): try clip at gridline+4 (+3px from previous test)
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(spellbook): test gridline-6 clips (10px left shift)
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(spellbook): test gridline+14 clips (20px right swing)
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(spellbook): test gridline-16 clips (30px left of previous)
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(spellbook): binary search midpoint clips (20, 41, 61, 81)
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(spellbook): set clips to true 20% boundaries (21, 42, 63, 84)
  thorne_drak/EQUI_SpellBookWnd.xml
Due: validate-xml

docs(standards): update 105t and 120t clips to true 20% boundaries
  .docs/STANDARDS.md
Due: scan-links, markdownlint

feat(gauges): update all 120t clips to true 20% boundaries
  thorne_drak/EQUI_BreathWindow.xml
  thorne_drak/EQUI_GroupWindow.xml
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/EQUI_PetInfoWindow.xml
  thorne_drak/EQUI_PlayerWindow.xml
  thorne_drak/Options/Breath/Thorne/EQUI_BreathWindow.xml
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
  thorne_drak/Options/Pet/Thorne Veil/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Player/Thorne Arc/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne Veil/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Arc/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Pet/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Quad/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Veil/EQUI_MusicPlayerWnd.xml
Due: validate-xml

feat(spellbook): update Option variant to true 20% clips (21, 42, 63, 84)
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
Due: validate-xml

feat(gauges): interim - update clip positions and gauge grid markers
  .docs/STANDARDS.md
  thorne_drak/EQUI_BreathWindow.xml
  thorne_drak/EQUI_GroupWindow.xml
  thorne_drak/EQUI_PetInfoWindow.xml
  thorne_drak/EQUI_PlayerWindow.xml
  thorne_drak/EQUI_TargetWindow.xml
  thorne_drak/Options/Breath/Thorne/EQUI_BreathWindow.xml
  thorne_drak/Options/Gauges/Bars/gauge_inlay105t_thorne02.tga
  thorne_drak/Options/Group/Thorne/EQUI_GroupWindow.xml
  thorne_drak/Options/Pet/Thorne Veil/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Pet/Thorne/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Player/Thorne Arc/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne Veil/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne/EQUI_PlayerWindow.xml
  thorne_drak/Options/Spellbook/.sync-status.json
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne Veil/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Target/Thorne/EQUI_TargetWindow.xml
  thorne_drak/Testing/Gauges/Arc/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Nillipuss/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Pet/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Quad/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Veil/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

chore(options): sync Animations, Spellbook, and Stats option variants
  thorne_drak/Options/Animations/.sync-status.json
  thorne_drak/Options/Animations/README.md
  thorne_drak/Options/Animations/Thorne/EQUI_Animations.xml
  thorne_drak/Options/Spellbook/.sync-status.json
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Stats/.sync-status.json
  thorne_drak/Options/Stats/README.md
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
Due: scan-links, markdownlint, validate-xml

fix(stats): remove test gauges from MusicPlayerWnd production files
  thorne_drak/EQUI_MusicPlayerWnd.xml
  thorne_drak/Options/Stats/Thorne/EQUI_MusicPlayerWnd.xml
  thorne_drak/Testing/Gauges/Memorize/EQUI_MusicPlayerWnd.xml
Due: validate-xml

refactor(options): rename Thorne Standard to Thorne Classic and consolidate Target variants
  thorne_drak/Options/Group/Thorne Classic/EQUI_GroupWindow.xml
  thorne_drak/Options/Group/Thorne Classic/README.md
  thorne_drak/Options/Pet/Thorne Classic/EQUI_PetInfoWindow.xml
  thorne_drak/Options/Player/Thorne Classic/EQUI_PlayerWindow.xml
  thorne_drak/Options/Player/Thorne Classic/README.md
  thorne_drak/Options/Spellbook/Thorne Classic/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne Veil/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Target/Thorne Classic/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne Oval Basic/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne Oval Basic/README.md
  thorne_drak/Options/Target/Thorne Oval Pet/README.md
  thorne_drak/Options/Target/Thorne Oval Weight/EQUI_TargetWindow.xml
  thorne_drak/Options/Target/Thorne Oval Weight/README.md
  thorne_drak/Options/Target/Thorne Veil/EQUI_TargetWindow.xml
Due: scan-links, markdownlint, validate-xml

docs(polish): add v0.8.1 documentation polish tracking document
  .development/polish/polish_docs.md
Due: scan-links, markdownlint

docs(options): Phase 1 — regenerate parent READMEs via sync script
  .development/polish/polish_docs.md
  thorne_drak/Options/Group/README.md
  thorne_drak/Options/Pet/README.md
  thorne_drak/Options/Player/README.md
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Target/README.md
Due: scan-links, markdownlint

fix(scripts): replace Unicode checkmarks with ASCII for Windows cp1252 compatibility
  .bin/options_duplicate_detector.py
  .bin/options_fix_readme.py
  .bin/options_generate_readme.py
  .bin/options_readme_checker.py
  .bin/options_thorne_sync.py
  .bin/sync_option.py
Due: none

Path conditions:
  scan-links: any of: \.(md)$
  markdownlint: any of: \.(md)$
  validate-xml: any of: \.(xml)$
