Repository draknarethorne/thorne-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: scan-links, markdownlint, validate-xml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: local
    hooks:
      - id: scan-links
        name: Scan Markdown links
        entry: python .bin/scan_links.py --output .tmp/scan_links.json
        language: system
        files: \.(md)$
        pass_filenames: false

      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2 --config .markdownlint.json
        language: system
        files: \.(md)$

      - id: validate-xml
        name: Validate XML well-formedness
        entry: python .bin/validate_xml.py --report .tmp/xml_wellformed.json
        language: system
        files: \.(xml)$

      - id: cspell
        name: cspell
        entry: cspell lint --config .cspell.json
        language: system
        files: \.(md|txt|xml|py)$
        stages: [manual]

docs(options): Phase 2 — update root Options README and sub-variant READMEs
  .development/polish/polish_docs.md
  thorne_drak/Options/Player/Thorne Arc/README.md
  thorne_drak/Options/Player/Thorne Classic/README.md
  thorne_drak/Options/README.md
Due: scan-links, markdownlint

fix(options): Phase 3 script assessment and bug fixes
  .bin/options_generate_readme.py
  .bin/options_thorne_sync.py
  .development/polish/polish_docs.md
  thorne_drak/Options/AltAdvance/.sync-status.json
  thorne_drak/Options/AltAdvance/README.md
Due: scan-links, markdownlint

refactor(options): align scripts and standardize 20 variant READMEs
  .bin/options_duplicate_detector.py
  .bin/options_fix_readme.py
  .bin/options_generate_readme.py
  .bin/options_readme_checker.py
  .development/polish/polish_docs.md
  thorne_drak/Options/Actions/README.md
  thorne_drak/Options/Actions/Standard/README.md
  thorne_drak/Options/Actions/Thorne Bags/README.md
  thorne_drak/Options/Actions/Thorne Classic/README.md
  thorne_drak/Options/Actions/Thorne Fading/EQUI_ActionsWindow.xml
  thorne_drak/Options/Cast/Standard/README.md
  thorne_drak/Options/Group/Thorne Classic/README.md
  thorne_drak/Options/Hotbutton/Standard/README.md
  thorne_drak/Options/Hotbutton/Thorne Inventory Stacked/README.md
  thorne_drak/Options/Inventory/Standard/README.md
  thorne_drak/Options/Loot/Standard/README.md
  thorne_drak/Options/Merchant/Standard/README.md
  thorne_drak/Options/Merchant/Thorne Bags/README.md
  thorne_drak/Options/Player/Thorne Arc/README.md
  thorne_drak/Options/Player/Thorne Classic/README.md
  thorne_drak/Options/README.md
  thorne_drak/Options/Selector/Standard/README.md
  thorne_drak/Options/Skin/Thorne Classic/README.md
  thorne_drak/Options/Spellbook/Standard/README.md
  thorne_drak/Options/Target/Standard/README.md
  thorne_drak/Options/Target/Thorne Oval/README.md
Due: scan-links, markdownlint, validate-xml

docs(polish): v0.8.1 documentation polish—remove hallucinated content, rewrite flagged READMEs, checker 0 issues
  .development/polish/polish_docs.md
Due: scan-links, markdownlint

docs(options): finalize README rewrites, checker threshold, and cross-references (v0.8.1 polish)
  .bin/options_readme_checker.py
  thorne_drak/Options/Actions/Thorne Classic/README.md
  thorne_drak/Options/Cast/Thorne Classic/README.md
  thorne_drak/Options/Hotbutton/Thorne Inventory Stacked/README.md
  thorne_drak/Options/Merchant/Standard/README.md
Due: scan-links, markdownlint

polish(spellbook): update all Thorne spellbook variants, add Thorne Basic, and sync documentation (v0.8.1 polish)
  thorne_drak/Options/Spellbook/.sync-status.json
  thorne_drak/Options/Spellbook/README.md
  thorne_drak/Options/Spellbook/Thorne Basic/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne Classic/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne Large/EQUI_SpellBookWnd.xml
  thorne_drak/Options/Spellbook/Thorne/EQUI_SpellBookWnd.xml
Due: scan-links, markdownlint, validate-xml

docs(readme): finalize screenshot section and image updates for v0.7.1 screenshots release
  README.md
Due: scan-links, markdownlint

chore: add placeholder to trigger PR creation if needed
  .tmp/trigger-pr.txt
Due: none

chore: ensure branch is ready for PR/merge
  .tmp/trigger-pr.txt
Due: none

docs(readme): clarify credits, options, and variant instructions
  README.md
Due: scan-links, markdownlint

feat(merchant): add Zeal recharge UI elements
  .default/EQUI_MerchantWnd.xml
  thorne_drak/EQUI_MerchantWnd.xml
  thorne_drak/Options/Merchant/.sync-status.json
  thorne_drak/Options/Merchant/README.md
  thorne_drak/Options/Merchant/Thorne/EQUI_MerchantWnd.xml
Due: scan-links, markdownlint, validate-xml

feat(merchant): add recharge UI to Thorne Bags option
  thorne_drak/Options/Merchant/Thorne Bags/EQUI_MerchantWnd.xml
Due: validate-xml

feat(merchant): add recharge UI to Standard option
  thorne_drak/Options/Merchant/Standard/EQUI_MerchantWnd.xml
Due: validate-xml

docs(readme): add merchant window screenshots
  .docs/images/windows/thorne_ui_merchant_standard.png
  .docs/images/windows/thorne_ui_merchant_standard_recharge.png
  .docs/images/windows/thorne_ui_merchant_thorne.png
  .docs/images/windows/thorne_ui_merchant_thorne_bags.png
  README.md
Due: scan-links, markdownlint

chore(release): prepare for release v0.8.1
  .docs/TODO.md
  README.md
  VERSION
  thorne_drak/EQUI_MerchantWnd.xml
  thorne_drak/Options/Merchant/Thorne Bags/EQUI_MerchantWnd.xml
  thorne_drak/Options/Merchant/Thorne/EQUI_MerchantWnd.xml
Due: scan-links, markdownlint, validate-xml

docs(release): update roadmap and release docs for v0.8.1
  .docs/DEVELOPMENT.md
  .docs/ROADMAP-v0.8.0.md
  .docs/releases/INDEX.md
Due: scan-links, markdownlint

fix(facepick): correct Wode, Random, Accept/Cancel button positions
  thorne_drak/EQUI_FacePick.xml
Due: validate-xml

docs: add MIT LICENSE file and update README license section
  LICENSE
  README.md
Due: scan-links, markdownlint

feat(charselect): add Thorne logos to character select
  .docs/DEVELOPMENT.md
  .docs/ROADMAP-v1.0.0.md
  .docs/STANDARDS.md
  .docs/TODO.md
  .github/agents/ThorneUI.agent.md
  README.md
  thorne_drak/EQUI_CharacterSelect.xml
Due: scan-links, markdownlint, validate-xml
